h1 {
    font-family: "KaiseiHarunoUmi-bold";
    font-size: 32px;
    text-decoration: underline;
    color: $color_text;
}
h2 {
    font-family: "KaiseiHarunoUmi-regular";
    font-size: 26px;
    text-decoration: none;
    color: $color_text;
}
p {
    font-family: "KaiseiHarunoUmi-regular";
    font-size: 15px;
    text-decoration: none;
    color: $color_text;
}
a {
    text-decoration: none;
}