{% extends "base.html" %}

{% block title %} Modifier review {% endblock %}

{% block page %}
    <section class="block_review_modify">
        <h1>Modifier</h1>
        <form class="block_form_creation_review" action="" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <span>
                <input class="button" type="submit" value="Modifier">
                <a href="{% url 'home' %}"><p class="button">Annuler</p></a>
            </span>
        </form>
    </section>
{% endblock %}