@font-face {
    font-family: "KaiseiHarunoUmi-bold";
    src: url("./sass/base/police/KaiseiHarunoUmi-Bold.ttf");
}
@font-face {
    font-family: "KaiseiHarunoUmi-regular";
    src: url("./sass/base/police/KaiseiHarunoUmi-Regular.ttf");
}
@font-face {
    font-family: "KaiseiHarunoUmi-medium";
    src: url("./sass/base/police/KaiseiHarunoUmi-Medium.ttf");
}
