{% extends "base.html" %}

{% block title %} Login {% endblock %}

{% block page %}
<p>mot de passe : sdfVBFfg45g!4 </p>
    <main class="block_login">
        <h1>Connexion</h1>
        <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            {% if message != '' %}
            <span class="block_login_errors">
                <p> {{ message }} </p>
            </span>
            {% endif %}
            <span>
                <input type="submit" value="Se connecter">
            </span>
        </form>
    </main>
    <span class="button_create_account">
        <a href="{% url 'signup' %}"><p class="button">Créer un compte </p></a>
    </span>
{% endblock %}